.workshopname{
    color:blue;
}
@media only screen and (max-width: 1000px) {
    .ppt {
      height: 0%;
      margin-top: -120px;
    }
}

@media only screen and (min-width: 1000px) {
    .ppt {
      margin-top: 50px;
      height: 35%;
    }
  }
@media only screen and (max-width: 800px) {
    .row {
      margin-top: -100px;
    }
}